$primary-color: #1e90ff;
$text-color: #333;
$font-family-base: 'Inter', sans-serif;
$border-radius-base: 8px;

$bg-color-dark: #2f3133;
$bg-color-light: #ffffff;
$text-color: #2f3133;
$text-color-light: #ffffff;
